body { 
	background-color: #E2E3E5; 
}

table {
    border-collapse: collapse;
    width: 45%;
    position: relative;
    top: 27.5vh;
    left: 28.5vw;
    border-style: hidden;
    border-radius: 25px;
}

table td, table th {
    border: 1px solid #f0f0f5;
}

th {
	background-color: #4CAF50;
    color: white;
}

th, td {
	padding: 0.3em;
}

tr:nth-child(even) {
	background-color: #f2f2f2
}

tr:nth-child(odd) {
	background-color: #ffffff
}

tr:first-child th:first-child {
    border-radius: 10px 0 0 0;
    border-right: 1px solid #f0f0f5;
    border-collapse: collapse;
}

tr:first-child th:last-child {
    border-radius: 0 10px 0 0;
    border-left-color: 1px solid #f0f0f5;
    border-collapse: collapse;
}

tr:last-child td:first-child {
    border-radius: 0 0 0 10px;
}

tr:last-child td:last-child {
    border-radius: 0 0 10px 0;
}























